:root {
  --color__off-white: #fffafa;
  --color__text: #4e5447;
  --color__black: #24241f;
  --color__green: #4a7c59;
  --color__mid-green: #8fc0a9;
  --color__light-green: #c8d5b9;
  --color__cream: #fefee3;
  --color__light-pink: #ffc9b9;
  --color__pink: #ffafcc;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 8%;
  margin: 0;
  background-color: var(--color__off-white);
  font-size: 22px;
  font-family: "Quiche Display", sans-serif;
  color: var(--color__text);
  line-height: 1.6;
}

@media screen and (min-width: 640px) {
  body {
    max-width: 60%;
  }

  .mobile-only {
    display: none;
  }
}

@media print {
  body {
    width: 100%;
    max-width: none;
    padding: 0;
  }

  .screen-only {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color__black);
    color: var(--color__cream);
  }
}

::selection {
  background-color: var(--color__light-pink);
}

@media (prefers-color-scheme: dark) {
  ::selection {
    color: var(--color__black);
  }
}

h1,
h2,
h3,
p {
  margin: 0.8rem 0;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}

@media screen and (min-width: 640px) {
  h1 {
    width: fit-content;
    position: relative;
  }

  h1:after {
    content: "";
    height: 25%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url("images/underline.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

a:link {
  color: var(--color__mid-green);
  text-decoration: underline var(--mid-green) 0.1rem;
  text-underline-offset: 0.1rem;
}

a:visited {
  color: var(--color__mid-green);
}

a:hover,
a:active {
  color: var(--color__green);
  text-decoration: underline var(--color__green) 0.1rem;
}

a:focus {
  outline: var(--color__green) auto 1px;
}

a[href^="tel:"] {
  margin-left: 0.4rem;
}

ul {
  padding-left: 1.4rem;
}

ul.dress-code {
  padding-left: 0;
  display: flex;
  gap: 1rem;
}

ul.dress-code li {
  display: inline-block;
  user-select: none;
}
